<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOTLINE</title>
    </head>
    <body>
        <table align="center" cellpadding="0" cellspacing="0"
            style="margin: 10px auto;
                min-width: 320px;
                max-width: 540px;
                width: 100%;
                font-family: Helvetica, sans-serif;
                border: 2px solid #11888c;
                border-top: 15px solid #11888c;">
            <tbody>
                <tr>
                    <td style="border-bottom: 1px solid #11888c;">
                        <p style="font-size: 29px; margin: 20px;"><span style="color: #11888c; font-weight: bold;">HOTLINE</span>REPORT</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 20px;">
                        <p style="font-size: 12px;"><%=I18n.t :hi %> <span style="font-weight: bold;"><%=user.first_name.capitalize%> <%=user.last_name.capitalize%></span>,</p>
                        <p style="font-size: 12px;"><%=I18n.t :token_access %><span style="font-weight: bold;"> Hotline:</span></p>
                        <p style="font-size: 12px;"><%=I18n.t :time_valid_token %></p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; text-transform: uppercase;">
                        <p style="font-size: 34px;
                            margin: 10px auto;
                            background-color: #ebebeb;
                            padding: 20px;
                            width: 70%;
                            color: #11888c;
                            font-weight: bold;"><%=token%></p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding: 20px;">
                    <a href="https://hotline.report/admin/" target="_blank" style="font-size: 16px;width: 75%; margin: 10px auto; color: #11888c;">
                            <%=I18n.t :click_here %></p>
                        </a>
                </tr>
                <tr>
                    <td style="padding: 0 20px;">
                        <p style="font-size: 12px;"><%=I18n.t :thanks %>,</p>
                        <p style="font-size: 12px;"><span style="font-weight: bold;">Hotline:</span> <%=I18n.t :team %></p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;
                    text-transform: uppercase;
                    font-size: 11px;
                    background-color: #ffffff;
                    padding-bottom: 10px;">
					        <p style="width: 50%; margin: auto;"><%=I18n.t :copyright %></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>