<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOTLINE</title>
</head>
<body>
    
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOTLINE</title>
</head>
<body>
  <table align="center" cellpadding="0" cellspacing="0"
		style="margin: 10px auto;
			min-width: 320px;
			max-width: 540px;
			width: 100%;
			font-family: Helvetica, sans-serif;
      background-color: #efefef;
      color: #707070;
      border: 2px solid #efefef;
      border-top: 15px solid #11888c;">
		<tbody>
			<tr>
				<td style="text-align: center;">
					<p style="text-align: center; font-size: 29px; margin: 20px;"><span style="color: #11888c; font-weight: bold;">HOTLINE</span>REPORT</p>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; padding-bottom: 20px;">
					<p style="font-size: 22px; margin: 10px 40px;"><%= I18n.t :the_following %></p>
				</td>
			</tr>
      <% links.each do |link| %>
        
        <tr>
          <td style="display: flex;
          flex-wrap: wrap;
          max-width: 320px;
          color: #363636;
          width: 100%;
          margin: auto;
          align-items: center;">
            <a href="<%= "#{URL_FRONT}/follow-up-information/#{link[:link]}" %>" target="_blank" style="font-size: 15px;
              background-color: #ffd5ee;
              padding: 10px;
              width: 45%;
              color: #363636;
              font-weight: bold;
              display: block;
              float: left;
              text-decoration: none;
              margin: 5px 10px 5px 0;
              text-align: center;">
              <%= I18n.t :follow_up %> 
            </a>
            <p style="margin: 0;">
              <span style="font-weight: bold;">#<%= ( !link[:data][:reference].blank? ? link[:data][:reference]upcase : '' )%></span><br>
              <%=Date.parse(link[:data][:date]).strftime('%b %d %Y')%>
            </p>
          </td>
        </tr>
      <% end %>
      <!-- --------- -->
      <!-- loop for -->
      <!-- --------- -->
      
      <tr>
        <td style="height: 50px;"></td>
      </tr>
      <tr>
				<td style="text-align: center;
        text-transform: uppercase;
        font-size: 11px;
        background-color: #ffffff;
        padding-bottom: 10px;">
					<p style="color: #11888c; font-weight: bold;"><a href="<%=URL_FRONT + @file_term%>" target="_blank"><%=I18n.t :legal_terms %></a> | <a href="<%=URL_FRONT+ @file_policy%>" target="_blank"><%=I18n.t :data_policy %></a></p>
					<p style="width: 50%; margin: auto;"><%=I18n.t :copyright %></p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>